[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
graphene = ">=3.0.0b7"
python-dotenv = "*"
gunicorn = "*"
pyopenssl = "*"
requests = {extras = ["security"], version = "*"}
urllib3 = "==1.23"
certifi = "*"
keras = "*"
tensorflow = "*"
pillow = "*"
graphql-core = ">=3.1.4"
graphql-server = ">=3.0.0b3"

[dev-packages]

[scripts]
dev = "env REQUESTS_CA_BUNDLE=secrets/cert.pem env FLASK_APP=src/app.py env FLASK_ENV=development env FLASK_DEBUG=1 flask run --cert=secrets/cert.pem --key=secrets/key.pem"
prod = "env REQUESTS_CA_BUNDLE=secrets/cert.pem env FLASK_APP=src/app.py env FLASK_ENV=production gunicorn --certfile secrets/cert.pem --keyfile secrets/key.pem --bind 0.0.0.0:5000 -w 8 wsgi:app --timeout 10000"
test = "python -m pytest"
test-watch = "ptw --runner 'python -m pytest -s'"
dev-window = "set REQUESTS_CA_BUNDLE=secrets/cert.pem & set FLASK_APP=src/app.py & set FLASK_ENV=development & set FLASK_DEBUG=1 & flask run --cert=secrets/cert.pem --key=secrets/key.pem"
prod-window = "set REQUESTS_CA_BUNDLE=secrets/cert.pem & set FLASK_APP=src/app.py & set FLASK_ENV=production & gunicorn --certfile secrets/cert.pem --keyfile secrets/key.pem --bind 0.0.0.0:5000 -w 8 & wsgi:app --timeout 10000"
test-window = "python -m pytest"
test-watch-window = "ptw --runner 'python -m pytest -s'"
setup-model = "python src/ml/setup.py"
test-model = "python src/ml/test_model.py -i src/ml/test_data/car.jpg"
dev-tfs = "env REQUESTS_CA_BUNDLE=secrets/cert.pem env FLASK_APP=src/app.py env FLASK_ENV=development env FLASK_DEBUG=1 python src/start.py"
prod-tfs = "env REQUESTS_CA_BUNDLE=secrets/cert.pem env FLASK_APP=src/app.py env FLASK_ENV=production env FLASK_DEBUG=1 python src/start.py"
test-file = "python src/test.py"

[requires]
python_version = "3.7.10"
